
.styled-table {
    border-collapse: collapse;
    margin: 25px 10px;
    font-size: 0.9em;
    font-family: "Roboto","Helvetica","Arial",sans-serif;;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn-warning{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.btn-danger{
    background-color: red;
    color: white;
    border-radius: 5px;
}

.btn-success{
    background-color: green;
    color: white;
    border-radius: 5px;
}

.updateinput {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.searchForm input[type="text"] {
    font-family: "Roboto","Helvetica","Arial",sans-serif;;
    width: 50%;
    min-height: 48px;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    margin-left: 2rem;
  }
  
  .searchForm label {
    position: absolute;
    left: -99999px;
  }